@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(204, 204, 204);
  font-family: "Unbounded", sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 1920px;
  margin: 50px auto;
}

header {
  position: relative;
}

.head {
  display: flex;
}

header .logo {
  font-weight: 600;
  font-size: 20px;
}

header ul.nav {
  list-style: none;
  margin: 0 auto;
}

header ul.nav li {
  margin: 10px;
  display: inline-block;
  cursor: pointer;
}

header .number-header {
  float: right;
}

.heading h1 {
  font-size: 124px;
  font-weight: 500;
  line-height: 136.4px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.heading p {
  float: left;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.heading button {
  font-family: "Unbounded", sans-serif;
  background-color: rgb(204, 204, 204);
  margin-left: 50px;
  width: 160px;
  height: 50px;
  border-radius: 20px;
  border-width: thin;
  cursor: pointer;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .item {
  width: 48.5%;
  margin: 10px;
  position: relative;
}

main .item img {
  width: 100%;
}

main .item p, .item h1 {
  position: absolute;
  color: #FFFFFF;
}

main .item p {
  top: 370px;
  left: 50px;
  font-size: 19px;
  font-weight: 100;
}

main .item h1 {
  bottom: 90px;
  left: 50px;
}

main .item button {
  position: absolute;
  margin: 0px 5px;
  width: 130px;
  height: 40px;
  border-radius: 20px;
  border-width: thin;
  cursor: pointer;
  font-family: "Unbounded", sans-serif;
  bottom: 25px;
  left: 190px;
  background: transparent;
  color: #fff;
  border-color: #fff;
}

main .item .rent {
  left: 50px;
  background: #fff;
  color: black;
  border-color: black;
}

.DescriptionUs{
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
.DescriptionUs p {
  width: 400px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.DescriptionUs span {
  font-weight: 500;
  font-size: 100px;
}

.group_circles {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}

.group_circles h1 {
  font-size: 140px;
  font-weight: 500;
  line-height: 173.6px;
  text-align: left;
}


.group_circles p{
  font-size: 24px;
  font-weight: 300;
  line-height: 29.76px;
  text-align: center;
}

.circles {
  background-image: url(/img/circle.png) no-repeat;
  background-size: cover;
  background-position: center center;

}